@import "./config.scss";

.absl {
  position: absolute;
  z-index: 1000000;
  width: 100%;
  top: 0;
  background-color: white;
  height: 70px;
  left: 0;

  .header {
    margin: 0 auto;
    position: absolute;
    width: 70%;
    height: 100%;
    position: relative;
    @media screen and (max-width: 1440px) {
      & {
        padding: 0 20px;
      }
    }
    .nav-items {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .col-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
      }
      .col-3 {
        position: relative;
        img {
          // position: relative;
          width: 25px;
        }
        .counter {
          position: absolute;
          top: -10px;
          right: -15px;
          width: 25px;
          font-weight: bold;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: white;
          background-color: black;
        }
      }
      .col-1 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        .items {
          height: 100%;
          display: flex;
          flex-direction: row;
          gap: 30px;
          .selected-page {
            color: $color-green;
            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              transition: 0.3s;
              background-color: $color-green;
              // background-color: transparent;
            }
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
            position: relative;
            transition: 0.3;
            &:before {
              content: "";
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 4px;
              transition: 0.3s;
              background-color: transparent;
            }
            &:hover {
              &::before {
                background-color: $color-green;
              }
              color: $color-green;
            }
          }
        }
      }
    }
  }
}
.header-title {
  font-size: $text-header;
}

.product-list-cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  .product-card {
    position: relative;
    height: 390px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover .add-cart-button {
      opacity: 1;
    }
    .add-cart-button {
      z-index: 100000;
      opacity: 0;
      background-color: $color-green;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      bottom: 100px;
      right: 50px;
      transition: 0.3s;
      img {
        width: 25px;
      }
    }
    &:hover {
      box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.3);
    }
    padding: 15px;
    .image-cover {
      height: 75%;
      background-size: cover;
      background-position: center center;
    }
  }
  .product-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    .title {
      font-size: 25px;
    }
  }
}
